Source: cocaine-tools
Section: utils
Priority: optional
Maintainer: Anton Tyurin <noxiouz@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0),
 python,
 python-central | dh-python,
 python-setuptools,
 bash-completion
Standards-Version: 3.9.3
Vcs-Git: git://github.com/cocaine/cocaine-framework-python.git
Vcs-Browser: https://github.com/cocaine/cocaine-framework-python
XS-Python-Version: >= 2.7

Package: cocaine-v12-tools
Architecture: any
Depends: ${misc:Depends},
 cocaine-v12-framework-python (>= 0.12.6.0),
 python-click (>= 5.0),
 python-yaml (>= 3.10),
 python-tornado (>= 4.3),
 python (>= 2.7),
XB-Python-Version: >= 2.7
Conflicts: cocaine-tools
Provides: cocaine-tools
Replaces: cocaine-tools
Description: Cocaine - Toolset
 Various tools to query and manipulate running Cocaine instances.

Package: cocaine-v12-tornado-proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser,
 cocaine-v12-framework-python (>=0.12.6.0),
 cocaine-v12-tools (=${source:Version}),
 python-tornado (>= 4.3),
 python (>= 2.7),
XB-Python-Version: >= 2.7
Conflicts: cocaine-tornado-proxy
Provides: cocaine-tornado-proxy
Replaces: cocaine-tornado-proxy
Description: Tornado-based cocaine HTTP proxy
 Cocaine tornado proxy - HTTP entry point of the cloud.
