#!/usr/bin/make -f


ifeq (lucid,$(shell lsb_release -sc))
include debian/lucid.mk
else
%:
	dh $@ --with python2,bash-completion

override_dh_install:
	install -d debian/tmp/etc/cocaine-tornado-proxy
	install -m644 debian/cocaine-tornado-proxy.conf debian/tmp/etc/cocaine-tornado-proxy/cocaine-tornado-proxy.conf
	dh_install
endif

